<h1>Fibonacci multiplication table</h1>
<p>This view is still not implemented.</p>

<!--- Render size input here -->

<% if table %>
  <!--- Render table here -->

  <% if saved %>
    <p>Saved!</p>
  <% else %>
    <!--- Render save button here -->
  <% end %>
<% end %>